<?xml version="1.0"?>
<robot name="bluerov2">
  <hydrodynamics>

    <!-- mass & coriolis matrices -->
    <mass>10.0</mass>
    <inertia ixx="0.16" iyy="0.16" izz="0.16" />
    <added_mass Xdu="-5.50" Ydv="-12.70" Zdw="-14.60" Kdp="-0.12" Mdq="-0.12" Ndr="-0.12" />

    <!-- dissipation matrix -->
    <linear_damping Xu="-4.03" Yv="-6.22" Zw="-5.18" Kp="-0.07" Mq="-0.07" Nr="-0.07" />
    <quadratic_damping Xuu="-18.18" Yvv="-21.66" Zww="-36.99" Kpp="-1.55" Mqq="-1.55" Nrr="-1.55" />

    <!-- restoring forces -->
    <weight>98.1</weight>
    <buoyancy>100.06</buoyancy>
    <center_of_gravity x="0.0" y="0.0" z="0.0" />
    <center_of_buoyancy x="0.0" y="0.0" z="0.0" />

  </hydrodynamics>
</robot>
